.body {
    background-color: #906bfd;
    width: 240px;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.button_style {
    font-family: Bradley Hand, serif;;
    color: white;
    border: solid;
    border-radius: 8%;
    background-color: #006600;
}