.body {
    width: 200px;
    height: 180px;
    display: grid;
    grid-template-rows: 150px 30px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
