.body {
    display: flex;
    align-items: start;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.name {
    border: 2px solid white ;
    padding: 1px;
}

.error {
    border: 2px solid red;
    padding: 1px;
}

.errorMessage {
    color: #f80000;
    margin-left: 10px;
}

.users {
    margin-top: 5px;
}